@media screen and (max-width: 1200px){
    .cursor,.cursor2,.cursor3{
        display: none
    }
}
@media screen and (max-width: 1250px){
    .main_banner img{
        max-width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .container{
        padding: 0 15px;
    }

    .main_banner h1{
        max-width: 50%;
    }
    .main_banner p{
        max-width:40% ;
    }
    .main_banner img{
        max-width: 50%;
    }
    .sellers_style_picture{
        max-width: 750px;
    }
    .item{
        max-width: 200px;
        margin-right: 20px;
    }
    .item img{
        max-width: 180px;
    }
    footer h4{
        margin-left: 250px;
    }
    .brown_ball{
        justify-content: flex-start;
    }


}

@media screen and (max-width: 890px){
    .main_banner h1{
        max-width: 250px;
    }
    .balls_style_section{
        padding-right: 10px;
        padding-left: 10px;
    }
    header .logo{
        left: 70%;
    }
}



@media screen and (max-width: 800px) {
.container{
    padding: 0 15px;
}

    footer h4{
        margin-left: 250px;

    }
    .flex_container{
        max-width: 700px;
    }
    .balls_details{
        max-width: 100px;
        padding-right: 80px;
    }
    .main_banner h1{
        max-width: 30%;
    }
    footer h4{
        margin-left: 190px;
    }
    .People{
        max-width: 800px;
    }
    .People .description{
        max-width: 350px;
        padding-left: 40px;
    }
    .People .for_image{
        max-width: 300px;}


}

@media screen and (max-width: 765px) {
    .People .d-flex {
        flex-direction: column;
    }

    .description .d-flex {
        flex-direction: column;
    }

    .main_banner .img {
        position: relative;
        right: 0;
        top: 0;
    }

    .nav-but-wrap {
        display: inline-block;
    }

    .nav {
        position: fixed;
    }

    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }

    .nav__list-item {
        position: relative;
        display: block;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 0;
        text-align: center;
        color: #fff;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
        font-size: 8vh;
        font-weight: 900;
        line-height: 1.15;
        letter-spacing: 3px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
        margin-top: 0;
        margin-bottom: 0;

    }

    .nav__list-item a {
        position: relative;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        overflow: hidden;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 900;
        z-index: 2;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .nav__list-item a:after {
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -2px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #8167a9;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .nav__list-item a:hover:after {
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }

    .nav__list-item a:hover {
        color: rgba(255, 255, 255, 1);
    }

    .nav__list-item.active-nav a {
        color: rgba(255, 255, 255, 1);
    }

    .nav__list-item.active-nav a:after {
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }

    .nav__list {
        display: block;
    }
}
@media screen and (max-width: 700px) {
    footer {
        max-width: 700px;
    }
    footer h4{
        margin-left: 50px;
        margin-right: 50px;
    }
    .balls_details{
        padding-left: 20px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 633px) {
.People_sec .d-flex {
    flex-direction: column;
}

    .People_sec p{
        justify-content: flex-start;
    }
    .People_sec .description_sec a{
        justify-content: flex-end;
        padding-bottom: 20px;
    }
    .People_sec .description_sec h3{
        justify-content: flex-end;
    }

    .description_sec .d-flex{
        flex-direction: column;
    }
    .People_third .d-flex{
        flex-direction: column;
    }
    .description_third .d-flex{
        flex-direction: column;
    }

    .People_third p{
        justify-content: flex-start;
        max-width: 500px;
    }
    .People_third  a{
        margin: auto;

    }
    .People_third .description_third h3{
        justify-content: flex-start;
        max-width: 500px;
    }
    .for_image_third{
        margin-right: 0;
    }
}

@media screen and (max-width: 602px){
    .best_sellers .d-flex{
        flex-direction: column;
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 540px){
    .main_banner h1{
        font-size: 30px;
        line-height: 35px;
    }
    footer h4{
        margin-left: 0;
    }
}

@media screen and (max-width: 470px){
    footer .logo_bottom_container{
        display: none;
    }
    .people_on_the_bottom .d-flex{
        flex-direction: column;
    }
    .people_on_the_bottom .item_for_people_bottom img {
        margin-top:  50px;
    }
    header .logo{
      margin-left: 0;
    }
}

@media screen and (max-width: 420px){
    .form_bottom .bottom1 input:first-of-type{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .second_form_bottom input{
        width: 200px;
    }
    .balls_details{
        padding-left: 145px;
    }

}



@media screen and (max-width: 428px) {
nav{
    display: none;
}
    header .logo{
        position: relative;
        left: 0;
        margin-right: 0;
        top: 0;
    }


}

@media screen and (max-width: 320px) {
    .balls_details{
        padding-left: 115px;}

    .main_banner h1{
        font-size: 30px;
        line-height: 40px;
    }

}
    @media screen and (max-width: 580px){
        .switch-wrap h1 {
            font-size: 32px;
        }}


